.payment-information-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #e0e0e0;

  .info-property {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
  }
}
