.input {
  height: 40px;
  text-align: center;
  border: none;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: black;
    opacity: 0.8;
  }
}

@media screen and (max-width: 800px) {
  .input {
    height: 35px;
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .input {
    height: 28px;
    font-size: 14px;
  }
}
