.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto 180px;
  gap: 60px;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .homepage-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 40px;
    gap: 60px;
  }
}

@media screen and (max-width: 480px) {
  .homepage-container {
    grid-template-columns: 1fr 1fr;
    margin: 30px 20px;
  }
}
