.payment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 60px;
}

@media screen and (max-width: 800px) {
  .payment-page {
    min-height: 100%;
    margin: 100px 30px 295px;
  }
}

@media screen and (max-width: 480px) {
  .payment-page {
    margin: 80px 20px 0;
  }
}
