.signInPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 75px 40px;
}

@media screen and (max-width: 800px) {
  .signInPage {
    padding: 20px 10px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .signInPage {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 40px;
  }
}
