.payment-total-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .payment-total-title {
    font-size: 25px;
    font-weight: 600;
  }

  .payment-total-amount {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .payment-total-button {
    padding: 15px 30px;
    color: white;
    background-color: black;
    width: 250px;
    text-align: center;

    &:hover {
      color: black;
      background-color: orange;
    }
  }

  .payment-warning {
    display: flex;
    flex-direction: column;
    margin: 6vh 0;
    align-items: center;
    text-align: center;

    .payment-warning-title {
      color: red;
    }

    .payment-warning-text {
      display: flex;
      width: 30vw;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 800px) {
  .payment-total-container {
    .payment-warning {
      .payment-warning-text {
        width: 80vw;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .payment-total-container {
    margin-top: 50px;
    gap: 10px;

    .payment-total-title {
      font-size: 18px;
    }

    .payment-total-amount {
      font-size: 15px;
    }

    .payment-total-button {
      padding: 10px;
      width: 160px;
      font-size: 14px;
    }

    .payment-warning {
      font-size: 14px;

      .payment-warning-text {
        width: 90vw;
        font-size: 12px;
      }
    }
  }
}
