.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  color: white;
  padding: 50px 100px;

  .about-us-lorem-text {
    font-size: 18px;
  }

  .about-us-title {
    font-size: 24px;
    font-weight: bold;
  }

  .about-us-icons-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;

    .icon {
      font-size: 30px;
      color: white;

      &:hover {
        color: rgb(255, 166, 0);
      }
    }
  }
}
