.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 4px 0;
  width: 100%;
  max-height: 40px;

  .footer-link {
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-height: 20px;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    .footer-link {
      font-size: 15px;
    }
  }
}
